extends layouts/frontend

block content
    if flash_errors
        each message in flash_errors
            div(class="alert alert-danger")
                p= message
    if flash_success
        each message in flash_success
            div(class="alert alert-success")
                p= message
    .ui.middle.aligned.center.aligned.grid
        .six.wide.column
            form.ui.large.form(method="post", action="/login")
                .ui.stacked.segment
                    +field('email', 'email', 'your.email@address.tld', register.email)
                    +field('password', 'password', 'Password')
                    button(type="submit").ui.fluid.large.teal.submit.button Login

                .ui.error.message

mixin field(type, name, placeholder, value)
    .field
        .ui.left.icon.input
            i.icon(class=(type === 'password' ? 'lock' : 'user'))
            input(type=type, name=name, placeholder=placeholder, value=value)
